
.time-num {
  position: absolute;
  width: 100%;
  height: 90px;
  background: url('/timenum.png') no-repeat;
  background-position: left center;
  background-size: auto 100%;
  top: 10%;

  .cont-num {
    position: absolute;
    height: 73px;
    width: 73px;
    left: 73px;
    top: 8px;

    &.num-1 {
      background: url('/startnum1.png') no-repeat;
      background-size: auto 80%;
      background-position: center;
    }
    &.num-2 {
      background: url('/startnum2.png') no-repeat;
      background-size: auto 80%;
      background-position: center;
    }
    &.num-3 {
      background: url('/startnum3.png') no-repeat;
      background-size: auto 80%;
      background-position: center;
    }
  }
}
